@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="row">
    <div class="col">

        <div class="authentication-wrapper authentication-basic container-p-y">
            <div class="authentication-inner">
                <!-- Loguearse -->
                <div class="card">
                    <div class="card-body">
                        <!-- Logo -->
                        <div class="app-brand justify-content-center">
                            <a href="index.html" class="app-brand-link gap-2">
                                <span class="app-brand-logo demo">
                                    <img src="~/img/logo.png" style="width:100px; height:100px;" />
                                </span>
                            </a>
                        </div>
                        <!-- /Logo -->
                        <h4 class="mb-2 text-center">Bienvenido a</h4>
                        <h5 class="app-brand-text demo text-body fw-bolder text-center">Mi Hada Madrina Hand Made</h5>
                        <h3 class="mb-4 text-center fw-bold">Iniciar sesión</h3>

                        <form id="account" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-floating">
                                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                                <label asp-for="Input.Email" class="form-label"></label>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-floating">
                                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                                <label asp-for="Input.Password" class="form-label"></label>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div>
                                <div class="checkbox">
                                    <label asp-for="Input.RememberMe" class="form-label">
                                        <input class="form-check-input" asp-for="Input.RememberMe" />
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>
                            </div>
                            <div>
                                <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                            </div>
                            <div>
                                <p>
                                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                                </p>
                                <p>
                                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                                </p>
                                <p>
                                    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                                </p>
                            </div>
                        </form>
                        <p class="text-center">
                            <span>¿No tienes cuenta?</span>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">
                                <span>Crear cuenta</span>
                            </a>
                        </p>
                    </div>
                </div>
                <!-- /Loguearse -->
            </div>
        </div>
    </div>
</div>








@*<div class="row">
    <div class="col">

        <div class="authentication-wrapper authentication-basic container-p-y">
            <div class="authentication-inner">
                <!-- Loguearse -->
                <div class="card">
                    <div class="card-body">
                        <!-- Logo -->
                        <div class="app-brand justify-content-center">
                            <a href="index.html" class="app-brand-link gap-2">
                                <span class="app-brand-logo demo">
                                    <img src="~/img/logo.png" style="width:100px; height:100px;" />
                                </span>
                            </a>
                        </div>
                        <!-- /Logo -->
                        <h4 class="mb-2 text-center">Bienvenido a</h4>
                        <h5 class="app-brand-text demo text-body fw-bolder text-center">Mi Hada Madrina Hand Made</h5>
                        <h3 class="mb-4 text-center fw-bold">Iniciar sesión</h3>

                        <form id="account" method="post" class="mb-3">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="mb-3">
                                <label asp-for="Input.Email" class="form-label"></label>
                                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" autofocus placeholder="Introduce tu correo" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>

                            <div class="mb-3 form-password-toggle">
                                <div class="d-flex justify-content-between">
                                    <label class="form-label" for="password">Contraseña</label>
                                    <a id="forgot-password" asp-page="./ForgotPassword">
                                        <small>¿Olvidaste la contraseña?</small>
                                    </a>
                                </div>
                                <div class="input-group input-group-merge">
                                    <input asp-for="Input.Password"
                                           type="password"
                                           id="password"
                                           class="form-control"
                                           name="password"
                                           placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                           aria-describedby="password" />
                                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                                </div>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div>
                                <div class="mb-3">
                                    <div class="form-check">
                                        <label asp-for="Input.RememberMe" class="form-check-label">
                                            <input class="form-check-input" type="checkbox" id="remember-me" asp-for="Input.RememberMe" />
                                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-primary d-grid w-100" type="submit" id="login-submit">Iniciar sesión</button>
                            </div>
                        </form>
                        <p class="text-center">
                            <span>¿No tienes cuenta?</span>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">
                                <span>Crear cuenta</span>
                            </a>
                        </p>
                    </div>
                </div>
                <!-- /Loguearse -->
            </div>
        </div>
    </div>
</div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
