@using MiHadaMadrinaShop.Models
@model IEnumerable<AspNetUser>
@inject MiHadaMadrinaHandMadeDBContext _context;

@{
    ViewData["Title"] = "Lista de usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var data = ViewBag.Context = _context;
    var listaSexos = _context.Sexos.ToList();
}
<div class="container">
    <div class="row">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="font-weight-bold font-italic">Listado de usuarios</h1>
            <a class="btn btn-primary" asp-action="Create"><i class="fas fa-plus"></i><span>&nbsp;Nuevo</span></a>
        </div>

    </div>
    <div class="col-12 text-cente">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="thead-color">
                    <tr class="align-self-center">
                        <th class="py-3 text-center" scope="col">
                            User Name
                        </th>
                        <th class="py-3 text-center" scope="col">
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th class="py-3 text-center" scope="col">
                            @Html.DisplayNameFor(model => model.Nombre)
                        </th>
                        <th class="py-3 text-center" scope="col">
                            @Html.DisplayNameFor(model => model.Apellidos)
                        </th>
                        <th class="py-3 text-center" scope="col">
                            Sexo
                        </th>
                        <th class="py-3 text-center" scope="col">
                            @Html.DisplayNameFor(model => model.PhoneNumber)
                        </th>
                        <th class="py-3 text-center" scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        var nombreSexo = String.Empty;

                        if (item.IdSexo == null)
                        {
                            nombreSexo = "Otros";
                        }
                        else
                        {
                            nombreSexo = listaSexos.Find(q => q.IdSexo.Equals(item.IdSexo)).Sexo1;
                        }

                        <tr>
                           <td class="pt-3 text-center">
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                           <td class="pt-3 text-center">
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                           <td class="pt-3 text-center">
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                           <td class="pt-3 text-center">
                                @Html.DisplayFor(modelItem => item.Apellidos)
                            </td>
                           <td class="pt-3 text-center">
                                @Html.DisplayFor(modelItem => nombreSexo)
                            </td>
                           <td class="pt-3 text-center">
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>
                            <td class="pt-3 text-center">
                                <a class="btn btn-outline-info py-2" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a>
                                <a class="btn btn-outline-success py-2" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info"></i></a>
                                <a class="btn btn-outline-danger py-2" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
