@model IEnumerable<MiHadaMadrinaShop.Models.Pedido>
@inject MiHadaMadrinaHandMadeDBContext _context;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listaEstados = _context.Estados.ToList();
}

<h1>Gestionar pedidos</h1>

<table class="table">
    <thead>
        <tr>
            <th>Número de pedido</th>
            <th>Fecha pedido</th>
            <th>Fecha envío</th>
            <th>Total sin iva</th>
            <th>IVA</th>
            <th>Total</th>
            <th>Estado</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderByDescending(q=>q.FechaPedido))
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.IdPedido)</td>
                <td>@Html.DisplayFor(modelItem => item.FechaPedido)</td>
                <td>@Html.DisplayFor(modelItem => item.FechaEnvio)</td>
                <td>@Html.DisplayFor(modelItem => item.TotalSinIva)</td>
                <td>@Html.DisplayFor(modelItem => item.Iva)</td>
                <td>@Html.DisplayFor(modelItem => item.Total)</td>
                <td>@listaEstados.Where(q=>q.IdEstado.Equals(item.IdEstado)).FirstOrDefault().Estado1</td>
                
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdPedido">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdPedido">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdPedido">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
