@model IEnumerable<MiHadaMadrinaShop.Models.TCestum>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cesta</h1>
<form class="form-control">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Imagen
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cantidad)
                </th>
                <th>
                    Producto
                </th>
                <th>
                    Precio
                </th>
                <th>
                    Total sin iva
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Iva)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Total)
                </th>
                <th>

                </th>

            </tr>
        </thead>
        <tbody>
            @{
                decimal? totalCesta = 0;
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @{
                            totalCesta = item.TotalCesta;
                            var imagenUrl = item.ImagenUrl;
                            var stock = item.StockProducto;
                        }
                        <img src="~/img/productos/@item.ImagenUrl" style="width:75px;height:75px;" />
                    </td>
                    <td>
                        <input asp-for="@item.Cantidad" type="number" value="@item.Cantidad" min="1" max="@stock" onchange="actualizarCesta(@item.IdCesta, this.value)">


                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreProducto)
                    </td>
                    @{
                        if (item.DescuentoProducto != 0)
                        {
                                <td>
                                    @Html.DisplayFor(modelItem => item.PrecioProducto)€ -@Html.DisplayFor(modelItem => item.DescuentoProducto)%
                                </td>
                        }
                        else
                        {
                                <td>
                                    @Html.DisplayFor(modelItem => item.PrecioProducto)€
                                </td>
                        }
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalSinIva)€
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Iva)%
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total)€
                    </td>
                    <td>
                        <button class="btn btn-danger" asp-area="Public" asp-controller="TCestums" asp-action="DeleteConfirmed" asp-route-id="@item.IdCesta"><i class="fas fa-trash"></i></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="row">
        <div class="col text-start">

           

        </div>

        <div class="col text-end">

            Total cesta: @totalCesta€ <br><br>

            <button type="button" class="btn btn-primary"> Pagar </button>
            <a asp-area="Public" asp-controller="Productos" asp-action="Index" class="btn btn-secondary"><i class="fas fa-shopping-bag<"></i> Seguir comprando</a>

        </div>
    </div>
</form>

<script>
    function actualizarCesta(idCesta, cantidad) {
        var data = {
            idCesta: idCesta,
            cantidad: cantidad
        };

        $.ajax({
            url: "/Public/TCestums/ActualizarCesta",
            type: "POST",
            data: JSON.stringify(data),
            contentType: "application/json",
            success: function (result) {
                window.location.reload();
            },
            error: function (qXHR, textStatus, errorThrown) {
                window.location.reload();
            }
        });
    }
</script>