@using Microsoft.AspNet.Identity
@model IEnumerable<MiHadaMadrinaShop.Models.TCestum>
@inject MiHadaMadrinaHandMadeDBContext _context;

@{
    ViewData["Title"] = "Carrito";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var user = User.Identity.GetUserId();

    List<FormasDePago> listaFormasDePago = _context.FormasDePagos.ToList();
    List<FormasDeEnvio> listaFormasDeEnvio = _context.FormasDeEnvios.ToList();
    List<FormasDeEntrega> listaFormasDeEntrega = _context.FormasDeEntregas.ToList();

    List<Direccione> listaDireccionesUsuario = _context.Direcciones.Where(q => q.IdAspNetUsers.Equals(user)).ToList();

    decimal? totalCesta = 0;

}
<div class="container mt-4" aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent">
        <li><a asp-area="" asp-controller="Home" asp-action="Index" class="text-black-50 text-decoration-none">Inicio</a><i class="fas fa-angle-right text-black-50 px-2"></i></li>
        <li><a asp-area="Public" asp-controller="Productos" asp-action="Index" class="text-black-50 text-decoration-none">Tienda</a><i class="fas fa-angle-right text-black-50 px-2"></i></li>
        <li><a asp-area="Public" asp-controller="TCestums" asp-action="Index" class="text-dark text-decoration-none active">Carrito</a></li>
    </ol>
</div>
<hr class="d-block d-md-none" />



<div class="container d-flex flex-column min-vh-100">
    <div class="row">
        <div class="d-flex justify-content-center mt-5">
            <h1 class="font-weight-bold font-italic">Carrito</h1>
        </div>
    </div>

    <div class="row h-100">
        <div class="col-12 text-center w-100">
            <div class="table-responsive">
                <table class="table table-hover border">
                    <thead class="thead-color">
                        <tr>
                            <th class="py-3 text-center" scope="col">
                                Imagen
                            </th>
                            <th class="py-3 text-center" scope="col">
                                @Html.DisplayNameFor(model => model.Cantidad)
                            </th>
                            <th class="py-3 text-center" scope="col">
                                Producto
                            </th>
                            <th class="py-3 text-end" scope="col">
                                Precio
                            </th>
                            <th class="py-3 text-end" scope="col">
                                Total sin iva
                            </th>
                            <th class="py-3 text-end" scope="col">
                                @Html.DisplayNameFor(model => model.Iva)
                            </th>
                            <th class="py-3 text-end" scope="col">
                                @Html.DisplayNameFor(model => model.Total)
                            </th>
                            <th class="py-3 text-center" scope="col"></th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <form class="form-control" method="post">

                            @foreach (var item in Model)
                            {
                            <tr>
                                <td class="pt-3 text-center">
                                        @{
                                            totalCesta = item.TotalCesta;
                                            var imagenUrl = item.ImagenUrl;
                                            var stock = item.StockProducto;
                                        }
                                    <img src="~/img/productos/@item.ImagenUrl" style="width:75px;height:75px;" />
                                </td>
                                <td class="pt-3 text-center">
                                    <input class="form-control text-center mx-auto" asp-for="@item.Cantidad" type="number" value="@item.Cantidad" min="1" max="@stock" onchange="actualizarCesta(@item.IdCesta, this.value)" style="max-width: 5rem" required>
                                </td>
                                <td class="pt-3 text-center">
                                        @Html.DisplayFor(modelItem => item.NombreProducto)
                                </td>
                                    @{
                                        if (item.DescuentoProducto != 0)
                                        {
                                        <td class="pt-3 text-end">
                                                @Html.DisplayFor(modelItem => item.PrecioProducto)€ -@Html.DisplayFor(modelItem => item.DescuentoProducto)%
                                        </td>
                                        }
                                        else
                                        {
                                        <td class="pt-3 text-end">
                                                @Html.DisplayFor(modelItem => item.PrecioProducto)€
                                        </td>
                                        }
                                    }
                                <td class="pt-3 text-end">
                                        @Html.DisplayFor(modelItem => item.TotalSinIva)€
                                </td>
                                <td class="pt-3 text-end">
                                        @Html.DisplayFor(modelItem => item.Iva)%
                                </td>
                                <td class="pt-3 text-end">
                                        @Html.DisplayFor(modelItem => item.Total)€
                                </td>
                                <td class="pt-3 text-center">
                                    <button class="btn btn-danger" asp-area="Public" asp-controller="TCestums" asp-action="DeleteConfirmed" asp-route-id="@item.IdCesta"><i class="fas fa-trash"></i></button>
                                </td>
                            </tr>
                            }
                        </form>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        @if (totalCesta == 0)
        {
            <div class="col-12 d-flex justify-content-center mb-4 mt-2 fw-bolder h4">
                No tiene art&iacute;culos en el carrito
            </div>
        }
        <div class="col-12 d-flex justify-content-end mb-4 mt-2 fw-bolder h4">
            Total: @totalCesta€
        </div>
        <div class="col-12 d-flex justify-content-between" role="group" aria-label="Botones">
            <a asp-area="Public" asp-controller="Productos" asp-action="Index" class="btn btn-secondary"><i class="fas fa-shopping-bag"></i> Seguir comprando</a>&nbsp;
            @if (totalCesta > 0)
            {
                <button asp-area="Public" asp-controller="TCestums" asp-action="CrearPedido" class="btn btn-primary opacity-75" onclick="crearPedido(@totalCesta)">Procesar pedido</button>
            }
            else
            {
                <button class="btn btn-primary opacity-75" disabled>Procesar pedido</button>
            }
        </div>
    </div>
</div>

<script>
    function actualizarCesta(idCesta, cantidad) {
        var data = {
            idCesta: idCesta,
            cantidad: cantidad
        };

        $.ajax({
            url: "/Public/TCestums/ActualizarCesta",
            type: "POST",
            data: JSON.stringify(data),
            contentType: "application/json",
            success: function (result) {
                window.location.reload();
            },
            error: function (qXHR, textStatus, errorThrown) {
                window.location.reload();
            }
        });
    }

    function crearPedido(totalCesta) {


        var data = {
            total: totalCesta,
            idFormaDeEnvio: $('input[name=radioFormaEnvio]:checked').val(),
            idFormaDeEntrega: $('input[name=radioFormaEntrega]:checked').val(),
            idFormaDePago: $('input[name=radioFormaPago]:checked').val(),
            idDireccionDomicilio: $('input[name=radioDireccionDomicilio]:checked').val(),
            idDireccionFacturacion: $('input[name=radioDireccionFacturacion]:checked').val()
        };

        $.ajax({
            url: "/Public/Pedidos/CrearPedido",
            type: "POST",
            data: JSON.stringify(data),
            contentType: "application/json",
            success: function (result) {
                //window.location.reload();
            },
            error: function (qXHR, textStatus, errorThrown) {
                //window.location.reload();
            }
        });
    }

</script>

