@model IEnumerable<MiHadaMadrinaShop.Models.TCestum>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cesta</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Iva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PorcentajeDeDescuento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalSinIva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdAppNetUsers)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Iva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PorcentajeDeDescuento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalSinIva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdAppNetUsers)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCesta">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdCesta">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCesta">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
