@page
@model MiHadaMadrinaShop.Areas.Identity.Pages.Account.Manage.Pedidos.DetailsModel
@using MiHadaMadrinaShop.Areas.Public.Controllers.ImprimirPDF
@using MiHadaMadrinaShop.Models
@inject MiHadaMadrinaHandMadeDBContext _context;

@{
    ViewData["Title"] = "Detalle pedido";
    //Layout = "~/Areas/Identity/Pages/Account/Manage/_Layout.cshtml";
    var estado = Model.Pedido.IdEstado;
    List<TCestum> listaCestas = _context.TCesta.Where(q => q.IdPedido.Equals(Model.Pedido.IdPedido)).ToList();
    Direccione direccionDomicilio = (Direccione)_context.Direcciones.Where(q => q.IdDireccion.Equals(Model.Pedido.IdDireccionDomicilio)).FirstOrDefault();
    Direccione direccionFacturacion = (Direccione)_context.Direcciones.Where(q => q.IdDireccion.Equals(Model.Pedido.IdDireccionFacturacion)).FirstOrDefault();


}

<div class="container py-5 d-flex flex-column min-vh-100">

    <div class="row">
        <div class="col-12 align-items-center">
            <div class="card d-flex justify-content-center p-4">
                <div class="card-header">
                    <h1 class="font-weight-bold font-italic text-center">Pedido</h1>
                </div>
                <div class="card-body py-0">
                    <div class="row">
                        <h5 class="col-sm-2 text-end">
                            N&uacute;mero de pedido
                        </h5>
                        <p class="col-sm-10">
                            @Html.DisplayFor(model => model.Pedido.IdPedido)
                        </p>
                        <h5 class="col-sm-2 text-end">
                            @Html.DisplayNameFor(model => model.Pedido.FechaPedido)
                        </h5>
                        <p class="col-sm-10">
                            @Html.DisplayFor(model => model.Pedido.FechaPedido)
                        </p>
                        <h5 class="col-sm-2 text-end">
                            @Html.DisplayNameFor(model => model.Pedido.FechaEnvio)
                        </h5>
                        <p class="col-sm-10">
                            @Html.DisplayFor(model => model.Pedido.FechaEnvio)
                        </p>
                        <h5 class="col-sm-2 text-end">
                            Direcci&oacute;n de domicilio
                        </h5>
                        <p class="col-sm-10">
                            @direccionDomicilio.Direccion<br />
                            @direccionDomicilio.CodPostal<br />
                            @direccionDomicilio.Localidad<br />
                            @direccionDomicilio.Provincia<br />
                            @direccionDomicilio.Pais<br />
                        </p>
                        <h5 class="col-sm-2 text-end">
                            Direcci&oacute;n de facturaci&oacute;n
                        </h5>
                        <p class="col-sm-10">
                            @direccionFacturacion.Direccion<br />
                            @direccionFacturacion.CodPostal<br />
                            @direccionFacturacion.Localidad<br />
                            @direccionFacturacion.Provincia<br />
                            @direccionFacturacion.Pais<br />
                        </p>
                    </div>

                    @*Productos*@
                    <table class="table border">
                        <thead class="thead-color">
                            <tr class="align-self-center">
                                <th class="py-3 text-center" scope="col">Producto</th>
                                <th class="py-3 text-end" scope="col">Cantidad</th>
                                <th class="py-3 text-end" scope="col">Precio</th>
                                <th class="py-3 text-end" scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var item in listaCestas)
                                {
                                    <tr>
                                        <td class="pt-3 text-center">@_context.Productos.Where(q=>q.IdProducto.Equals(item.IdProducto)).FirstOrDefault().Nombre</td>
                                        <td class="pt-3 text-end">@item.Cantidad</td>
                                        <td class="pt-3 text-end">@_context.Productos.Where(q=>q.IdProducto.Equals(item.IdProducto)).FirstOrDefault().PrecioConDescuento€</td>
                                        <td class="pt-3 text-end">@item.Total€</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>

                    <div class="row mt-3">
                        <h5 class="col-sm-10 text-end">
                            @Html.DisplayNameFor(model => model.Pedido.TotalSinIva)
                        </h5>
                        <p class="col-sm-2 text-end">
                            @Html.DisplayFor(model => model.Pedido.TotalSinIva)€
                        </p>
                        <h5 class="col-sm-10 text-end">
                            @Html.DisplayNameFor(model => model.Pedido.Iva)
                        </h5>
                        <p class="col-sm-2 text-end">
                            @Html.DisplayFor(model => model.Pedido.Iva)%
                        </p>
                        <h5 class="col-sm-10 text-end">
                            @Html.DisplayNameFor(model => model.Pedido.Total)
                        </h5>
                        <p class="col-sm-2 text-end">
                            @Html.DisplayFor(model => model.Pedido.Total)€
                        </p>
                    </div>
                </div>
                <div>
                    <a asp-page="./IndexPedidos" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Volver</a>
                    @{
                        if (estado > 2)
                        {
                            <a asp-area="Public" asp-controller="ImprimirPDF" asp-action="ImprimirPDF" asp-route-id="@Model.Pedido.IdPedido" class="btn btn-primary"><i class="fas fa-print"></i> Imprimir Pedido</a>
                        }
                        if (estado == 7)
                        {
                            if (_context.Facturas.Any(q => q.IdPedido.Equals(Model.Pedido.IdPedido)))
                            {
                                <a asp-area="Public" asp-controller="ImprimirFactura" asp-action="ImprimirFactura" asp-route-id="@Model.Pedido.IdPedido" class="btn btn-info opacity-75"><i class="fas fa-print"></i> Imprimir factura</a>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>