@model IEnumerable<MiHadaMadrinaShop.Models.Categoria>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h1>Listado de categorías</h1>
    <button class="btn btn-mg btn-new">
        <a class="new-button" asp-action="Create"><i class="fas fa-plus"></i>&nbsp;Nuevo</a>
    </button>
</div>
<div class="mt-2"> 
    <table class="table table-hover">
        <thead class="thead-color">
            <tr>
                <th class="text-center align-middle" scope="col">
                    @Html.DisplayNameFor(model => model.Categoria1)
                </th>
               @* <th class="text-center align-middle" scope="col">
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>*@
                <th class="text-center align-middle" scope="col">
                    @Html.DisplayNameFor(model => model.EsActivo)
                </th>
                <th class="text-center align-middle" scope="col"></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
            <tr>
                <td class="text-center align-middle">
                    @Html.DisplayFor(modelItem => item.Categoria1)
                </td>
               @* <td class="text-center align-middle">
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>*@
                <td class="text-center align-middle">
                        @Html.DisplayFor(modelItem => item.EsActivo)
                </td>
                <td class="text-center align-middle">
                    <button class="btn btn-mg edit-button">
                        <a class="custom-button-ede d-flex align-items-center" asp-action="Edit" asp-route-id="@item.IdCategoria"><i class="fas fa-edit"></i></a>
                    </button>
                    <button class="btn btn-mg details-button">
                        <a class="custom-button-ede d-flex align-items-center" asp-action="Details" asp-route-id="@item.IdCategoria"><i class="fas fa-info-circle"></i></a>
                    </button>
                    <button class="btn btn-danger">
                        <a class="custom-button-ede d-flex align-items-center text-white" asp-action="Delete" asp-route-id="@item.IdCategoria"><i class="fas fa-trash"></i></a>
                    </button>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
