@using MiHadaMadrinaShop.Models.ViewModels
@model List<UsuarioRolModelo>

@{
    ViewData["Title"] = "Editar usuarios a este rol";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var roleId = ViewBag.roleId;
}

<div class="container">
    <div class="row">
        <div class="col-4 align-items-center offset-4">
            <h1 class="font-weight-bold font-italic">Añadir o eliminar usuarios a este rol</h1>
            <form method="post">
                <div>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <div class="form-check m-1">
                            <input type="hidden" asp-for="@Model[i].UsuarioId" />
                            <input type="hidden" asp-for="@Model[i].NombreUsuario" />
                            <input asp-for="@Model[i].EstaSeleccionado" class="form-check-input" />
                            <label class="form-check-label" asp-for="@Model[i].EstaSeleccionado">
                                @Model[i].NombreUsuario"
                            </label>

                        </div>
                    }
                </div>
                <div class="form-group d-flex justify-content-between" role="group" aria-label="Botones">
                    <a asp-action="Edit" asp-route-id="@roleId" class="btn btn-secondary flex-fill mr-2"><i class="fas fa-arrow-left"></i> Volver</a>
                    <button type="submit" class="btn btn-primary flex-fill ml-2"><i class="fas fa-save"></i> Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
