@model IEnumerable<MiHadaMadrinaShop.Models.AspNetUser>
@inject MiHadaMadrinaHandMadeDBContext _context;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var data = ViewBag.Context = _context;
    var listaSexos = _context.Sexos.ToList();
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Crear Nuevo Usuario</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdSexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            var nombreSexo = String.Empty;

            if(item.IdSexo == null)
            {
                nombreSexo = "Otros";
            }
            else
            {
                nombreSexo = listaSexos.Find(q => q.IdSexo.Equals(item.IdSexo)).Sexo1;
            }

            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => nombreSexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit <i class="fas fa-edit"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details  <i class="fas fa-info"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete <i class="fas fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
