@model MiHadaMadrinaShop.Models.Producto
@inject MiHadaMadrinaHandMadeDBContext _context

@{
    ViewData["Title"] = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";

    IEnumerable<SelectListItem> nombresCategorias = _context.Categorias.Select(q => new SelectListItem { Text = q.Categoria1 }).ToList();
}

<h1>Crear</h1>

<h4>Producto</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescripcionCorta" class="control-label"></label>
                <input asp-for="DescripcionCorta" class="form-control" />
                <span asp-validation-for="DescripcionCorta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescripcionLarga" class="control-label"></label>
                <input asp-for="DescripcionLarga" class="form-control" />
                <span asp-validation-for="DescripcionLarga" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaDeEntrada" class="control-label"></label>
                <input asp-for="FechaDeEntrada" class="form-control" />
                <span asp-validation-for="FechaDeEntrada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagenFile" class="control-label"></label>
                <input asp-for="ImagenFile" type="file" class="form-control" />
                <span asp-validation-for="ImagenFile" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="ImagenPrincipalUrl" class="control-label">Imagen Principal</label>
            <select asp-for="ImagenPrincipalUrl" class="form-control">
            <option value="">Seleccionar imagen principal</option>
            @foreach (var imagen in Model.ImagenFiles)
            {
            <option value="@imagen.FileName">@imagen.FileName</option>
            }
            </select>
            <span asp-validation-for="ImagenPrincipalUrl" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" type="text" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PorcentajeDeDescuento" class="control-label"></label>
                <input asp-for="PorcentajeDeDescuento" type="text" class="form-control" />
                <span asp-validation-for="PorcentajeDeDescuento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioConDescuento" class="control-label"></label>
                <input asp-for="PrecioConDescuento" type="text" class="form-control" />
                <span asp-validation-for="PrecioConDescuento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stock" class="control-label"></label>
                <input asp-for="Stock" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="form-group form-check check">
                <label asp-for="EsDigital" class="form-check-label">
                    <input class="form-check-input" asp-for="EsDigital" type="checkbox" /> @Html.DisplayNameFor(model => model.EsDigital)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="UrlProductoDigital" class="control-label"></label>
                <input asp-for="UrlProductoDigital" class="form-control" disabled="disabled" />
                <span asp-validation-for="UrlProductoDigital" class="text-danger"></span>
            </div>
            <div class="form-group form-check check">
                <label asp-for="EsActivo" class="form-check-label">
                    <input class="form-check-input" asp-for="EsActivo" checked /> @Html.DisplayNameFor(model => model.EsActivo)
                </label>
            </div>
            <div class="form-group">
                <label class="control-label">Seleccionar Categoria</label>
                <select asp-for="IdCategoria" asp-items="@nombresCategorias" class="form-select" aria-required="true">
                </select>
                <span asp-validation-for="IdCategoria" class="text-danger"></span>
            </div>
            <a asp-action="Index" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Volver</a>
            <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Guardar</button>
        </form>
    </div>

</div>

@section Scripts {
    @{
        //await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_ProductosScriptsPartialCreate");
    }
    }
