@model MiHadaMadrinaShop.Models.Producto

@{
    ViewData["Title"] = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var imagenUrl = Model.ImagenUrl;
}

<h1>Detalles</h1>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionCorta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DescripcionCorta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionLarga)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DescripcionLarga)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaDeEntrada)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaDeEntrada)
        </dd>
        <dt class="col-sm-2">
            Imagen
        </dt>
        <dd class="col-sm-10">
            @{
                <img src="~/img/productos/@imagenUrl" style="width:75px;height:75px;" />
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PorcentajeDeDescuento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PorcentajeDeDescuento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioConDescuento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrecioConDescuento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EsDigital)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EsDigital)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UrlProductoDigital)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UrlProductoDigital)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EsActivo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EsActivo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Volver</a>
    <button class="btn btn-mg edit-button">
        <a class="custom-button-ede d-flex align-items-center" asp-action="Edit" asp-route-id="@Model?.IdProducto"><i class="fas fa-edit"></i> Editar</a>
    </button>
</div>
