@model MiHadaMadrinaShop.Models.Producto
@inject MiHadaMadrinaHandMadeDBContext _context
@using Microsoft.EntityFrameworkCore;

@{

    ViewData["Title"] = "Editar producto";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var imagenUrl = Model.ImagenUrl;
    var listaCategorias = _context.Categorias.Select(q => q).ToList();
}

<div class="container py-5 d-flex flex-column min-vh-100">
    <div class="row">
        <div class="col mt-4">
            <h1 class="font-weight-bold font-italic">Productos</h1>
        </div>
    </div>
    <ol class="breadcrumb mb-4 bg-transparent">
        <li><a asp-area="Admin" asp-controller="Pedidos" asp-action="Index" class="text-black-50 text-decoration-none">Dashboard</a><i class="fas fa-angle-right text-black-50 px-2"></i></li>
        <li><a asp-area="Admin" asp-controller="Productos" asp-action="Index" class="text-black-50 text-decoration-none">Productos</a><i class="fas fa-angle-right text-black-50 px-2"></i></li>
        <li><a asp-area="Admin" asp-controller="Productos" asp-action="Edit" class="text-dark text-decoration-none active">Editar</a></li>
    </ol>
    <hr class="d-block d-md-none" />

    <div class="row">
        <div class="col-12 align-items-center">
            <div class="card d-flex justify-content-center p-4">
                <div class="card-header">
                    <h1 class="font-weight-bold font-italic">Editar producto</h1>
                </div>
                <form asp-action="Edit" method="post" enctype="multipart/form-data">
                    <div class="card-body py-0">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="IdProducto" />
                        <div class="form-group mb-3">
                            <label asp-for="Nombre" class="control-label"></label>
                            <input asp-for="Nombre" class="form-control" />
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="DescripcionCorta" class="control-label"></label>
                            <input asp-for="DescripcionCorta" class="form-control" />
                            <span asp-validation-for="DescripcionCorta" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="DescripcionLarga" class="control-label"></label>
                            <textarea asp-for="DescripcionLarga" class="form-control" rows="5"></textarea>
                            <span asp-validation-for="DescripcionLarga" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            @*<label asp-for="FechaDeEntrada" class="control-label"></label>*@
                            <input asp-for="FechaDeEntrada" class="form-control" hidden="hidden" />
                            <span asp-validation-for="FechaDeEntrada" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="ImagenUrl" class="control-label"></label><br>
                            <input asp-for="ImagenUrl" class="form-control" hidden="hidden" />
                            @*Mostramos la imagen*@
                            <img src="~/img/productos/@imagenUrl" style="width:auto;height:300px;" />
                            <span asp-validation-for="ImagenUrl" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="ImagenFile" class="control-label"></label>
                            <input asp-for="ImagenFile" type="file" class="form-control" />
                            <span asp-validation-for="ImagenFile" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Precio" class="control-label"></label>
                            <input asp-for="Precio" type="text" class="form-control" />
                            <span asp-validation-for="Precio" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="PorcentajeDeDescuento" class="control-label"></label>
                            <input asp-for="PorcentajeDeDescuento" type="text" class="form-control" />
                            <span asp-validation-for="PorcentajeDeDescuento" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="PrecioConDescuento" class="control-label"></label>
                            <input asp-for="PrecioConDescuento" type="text" class="form-control" />
                            <span asp-validation-for="PrecioConDescuento" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Stock" class="control-label"></label>
                            <input asp-for="Stock" class="form-control" />
                            <span asp-validation-for="Stock" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3 form-check check">
                            <label asp-for="EsDigital" class="form-check-label">
                                <input class="form-check-input" asp-for="EsDigital" type="checkbox" /> @Html.DisplayNameFor(model => model.EsDigital)
                            </label>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="UrlProductoDigital" class="control-label"></label>
                            <input asp-for="UrlProductoDigital" class="form-control" disabled="disabled" />
                            <span asp-validation-for="UrlProductoDigital" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3 form-check check">
                            <label asp-for="EsActivo" class="form-check-label">
                                <input class="form-check-input" asp-for="EsActivo" /> @Html.DisplayNameFor(model => model.EsActivo)
                            </label>
                        </div>
                        <label class="control-label">Seleccionar categor&iacute;as</label>
                        @{
                            bool estaCategoria = false;
                            var contextProductos = _context.Productos.Include(q => q.IdCategoria);
                            var listaCategoriasProducto = contextProductos.Where(q => q.IdProducto.Equals(Model.IdProducto)).FirstOrDefault().IdCategoria.ToList();

                            foreach (var categoria in listaCategorias)
                            {

                                if (listaCategoriasProducto.Any(q => q.IdCategoria.Equals(categoria.IdCategoria)))
                                {
                                    estaCategoria = true;
                                }
                                else
                                {
                                    estaCategoria = false;
                                }

                                <div class="form-group form-check check mt-3">
                                    <label class="form-check-label" asp-for="IdCategoria">
                                        @categoria.Categoria1
                                        <input asp-for="@estaCategoria" class="form-check-input" name="CategoriaName @categoria.IdCategoria" />
                                    </label>
                                </div>
                            }
                        }
                    </div>
                    <div class="card-footer">
                        <div class="form-group justify-content-between" role="group" aria-label="Botones">
                            <a asp-action="Index" class="btn btn-secondary w-auto mb-1"><i class="fas fa-arrow-left"></i> Volver</a>&nbsp;
                            <button type="submit" class="btn btn-primary w-auto mb-1"><i class="fas fa-save"></i> Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        //await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_ProductosScriptsPartialEdit");
    }
}
