@model PaginatedList<MiHadaMadrinaShop.Models.Producto>

@{
    ViewData["Title"] = "Lista de productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>Listado de productos</h1>
    <button class="btn btn-mg btn-new">
        <a class="new-button" asp-action="Create"><i class="fas fa-plus"></i>&nbsp;Nuevo</a>
    </button>
</div>
<div class="mt-2">
    @using (Html.BeginForm())
    {
        <p>
            Buscar por producto: @Html.TextBox("searchString")
            <input type="submit" value="Search" />
        </p>
    }
    <table class="table table-inverse table-hover">
        <thead>
            <tr>
                <th class="text-center align-middle" scope="col">
                    Nombre
                </th>
                <th class="text-center align-middle" scope="col">
                    Descripci&oacute;n corta
                </th>
                <th class="text-center align-middle" scope="col" width="15%">
                    Descripci&oacute;n larga
                </th>
                <th class="text-center align-middle" scope="col">
                    Fecha de entrada
                </th>
                <th class="text-center align-middle" scope="col">
                    Imagen
                </th>
                <th class="text-center align-middle" scope="col">
                    Precio
                </th>
                <th class="text-center align-middle" scope="col">
                    Porcentaje de descuento
                </th>
                <th class="text-center align-middle" scope="col">
                    Precio con descuento
                </th>
                <th class="text-center align-middle" scope="col">
                    Stock
                </th>
                <th class="text-center align-middle" scope="col">
                    Es digital
                </th>
                <th class="text-center align-middle" scope="col">
                    Url producto digital
                </th>
                <th class="text-center align-middle" scope="col">
                    Es activo
                </th>
                <th class="text-center align-middle" scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center align-middle">
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td class="text-center align-middle">
                        @Html.DisplayFor(modelItem => item.DescripcionCorta)
                    </td>
                    <td class="text-center align-middle" width="15%"> 
                        <p class="module line-clamp">
                            @Html.DisplayFor(modelItem => item.DescripcionLarga)
                        </p>
                     </td>
                    <td class="text-center align-middle">
                        @Html.DisplayFor(modelItem => item.FechaDeEntrada)
                    </td>
                    <td class="text-center align-middle">
                        @*Mostramos la imagen*@
                        <img src="~/img/productos/@item.ImagenUrl" style="width:75px;height:75px;" />
                    </td>
                    <td class="text-center align-middle">
                        @Html.DisplayFor(modelItem => item.Precio)
                    </td>
                    <td class="text-center align-middle">
                        @Html.DisplayFor(modelItem => item.PorcentajeDeDescuento)
                    </td>
                    <td class="text-center align-middle">
                        @Html.DisplayFor(modelItem => item.PrecioConDescuento)
                    </td>
                    <td class="text-center align-middle">
                        @Html.DisplayFor(modelItem => item.Stock)
                    </td>
                    <td class="text-center align-middle">
                        @Html.DisplayFor(modelItem => item.EsDigital)
                    </td>
                    <td class="text-center align-middle">
                        @Html.DisplayFor(modelItem => item.UrlProductoDigital)
                    </td>
                    <td class="text-center align-middle">
                        @Html.DisplayFor(modelItem => item.EsActivo)
                    </td>
                    <td class="text-center align-middle">
                        <button class="btn btn-mg edit-button">
                            <a class="custom-button-ede d-flex align-items-center" asp-action="Edit" asp-route-id="@item.IdProducto"><i class="fas fa-edit"></i> Editar</a>
                        </button>
                        @*<button class="btn btn-mg details-button">
                    <a class="custom-button-ede d-flex align-items-center" asp-action="Details" asp-route-id="@item.IdProducto"><i class="fas fa-info-circle"></i> Detalle</a>
                    </button>*@
                        <button class="btn btn-mg delete-button">
                            <a class="custom-button-ede d-flex align-items-center" asp-action="Delete" asp-route-id="@item.IdProducto"><i class="fas fa-trash"></i> Eliminar</a>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />


<div class="text-center">
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @prevDisabled">
        Anterior
    </a>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @nextDisabled">
        Siguiente
    </a>
</div>